[alias]
        cm = commit -am
        co = checkout
        d = diff
        dv = difftool -t vimdiff -y
        last = log -1 HEAD --stat
        lg =  log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
        ll = log --oneline
        rv = remote -v
        s = status -sb
        se = !git rev-list --all | git grep -n --full-name -F
        undocommit = reset HEAD~
        undopush = push -f origin HEAD^:master

[color "branch"]
        current = yellow reverse
        local = yellow
        remote = green

[color "diff"]
        commit = green bold
        frag = magenta bold
        meta = yellow bold
        old = red bold

[color "status"]
        added = yellow
        changed = green
        untracked = cyan

[core]
        attributesfile = ~/.gitattributes
        editor = vim
        excludesfile = ~/.gitignore

[fetch]
        prune = true

[log]
        date = relative

[push]
        followTags = true

[user]
	email = csixteen@protonmail.com
	name = Pedro Rodrigues
